
  html {
    height: auto;
  }

  body {
    max-width: 2000px;
    margin: 120px auto 0;
    padding: 0 100px;
    background: #facc2e;
    font-family: 'Permanent Marker', cursive;
    color: #494949;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  header {
    margin: 0 0 80px;
    position: relative;
    z-index: 2;
  }

  h1 {
    font-size: 48px;
    line-height: 62px;
    color: #494949;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: #e8630a;
    margin: 10px 0 10px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  a {
    color: #537093;
    text-decoration: none;
    transition: 0.2s;
  }

  a:visited {
    color: #537093;
  }

  a:hover {
    color: #9cd3d3;
  }

  ul.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ul.nav li {
    float: left;
  }

  ul.nav li a {
    display: block;
    font-size: 16px;
    color: #62929a;
    padding: 10px 20px 10px 0;
  }

  ul.nav li a:hover {
    color: #ecf4f3;
  }

  ul.nav li a.active {
    color: #ecf4f3;
  }
